.login-img {
    height: 300px;
    width: 300px;
}

.login-bg {
    background-image: url(https://hadiryuk.id/img/bg/bg-login-admin.png);
    height: 400px;
    background-size: cover;
}

.bdr {
    margin-left: 100px;
    padding-top: 80px;

}

.text {
    color: white;
    text-decoration: none;
}

.text:hover {
    color: yellow;
}