.round {
    margin-top: 10px;

    border-radius: 100%;
}



.bdr {

    width: 100%;
    margin-left: 50px;



}

.items {
    min-height: 250px;
}

.dash {
    text-decoration: none;
}

.mm {
    border-top: 2px solid yellow;
}

@media only screen and (max-width: 600px) {


    .btnn {
        margin-bottom: 10px;
    }
}