.car-img {
    width: 400px;
}

.car-bdr {
    border: 2px solid gray;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: white;

}

.product-bg {
    background-image: url(https://www.innofication.com/assets/plugins/sky-forms/version-2.0.1/img/bg-purple.jpg);
    background-size: cover;
}

@media only screen and (max-width: 600px) {

    .car-img {
        width: 250px;
    }

}